*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background: rgb(7, 92, 92);
    /* background-image: url(IMAGENES/exagono.png); */
    background-size:cover;       
}
nav{
    position: sticky;
    top:0;
    max-width: 1500px;
    margin: auto;
    background-color: #96e72b;
    font-size: 20px;
    margin-top: 0px;    
}
.menu-horizontal{

    list-style: none;
    display: flex;
    justify-content: space-around;   
}
.menu-horizontal li a{
    display: block;
    padding: 15px 20px;
    color: rgb(12, 15, 15);
    text-decoration: none;
}
.menu-horizontal li:hover{
    background-color: rgb(64, 173, 73);
}
.menu-vertical{
    position:absolute;
    display: none;
    list-style: none;
    width: 266px;
    background-color: rgba(98, 209, 174, 0.5);   
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: rgb(56, 134, 111);
    width: 100;
    display: flexbox;
    list-style: armenian;
}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}
.checkbox, .icons{
    display: none;
}

/* ********   RESPONSIVE  *********/

/* ________ PARA TABLETAS ________*/
@media (max-width:768px){
    
    /* padding-left: 20px; */
    .menu-horizontal{
        font-size: 16px;
    }
    .menu-vertical{
        font-size: 16px;    
    } 
}
/* ________ PARA CELULARES ________*/
@media(max-width:576px){
    .checkbox, .icons{
        width: 20px;
        height: 160px;
        display:block;           
        position: absolute;
        top:15px;
        right: 20px;
        cursor: pointer;
        color: rgb(34, 59, 186)
    }
    .icons{
         pointer-events:none;
         font-size: 20px;
    }   
    .checkbox{
        display: block;
        margin-right: 0px;
        opacity: 0;    
    }
    .fi-br-cross{
        display: none;
    }
    .checkbox:checked ~ .fi-br-menu-burger{
        display: none;
    }
    .checkbox:checked ~ .fi-br-cross{
        display: block;   
    }
    .menu-horizontal{

        display: block;
        position: fixed;
        margin-left: 10px;
        margin-top: 80px;
        width: 40%;
        background-color:rgba(0,0,0,.5);
        top:80px;
        left: -200%;
        text-align: center;
        transition: all 0.5s;
    }


    nav ul li{
        position:relative;
        margin-top: -40px;
        margin-left: 140px;
        margin: 0px 0;
        line-height: 30px;
    }
    nav ul li ul{
        right: -200px;
        top: 0;    
    }
    nav ul li a{
        font-size:16px;
        text-align: left;
    }
    .menu-vertical{
        padding: 1px 1px 1px 0px;
    }
    li a:hover,li a.active{
        background:none;
        color: white;
    }
    .checkbox:checked~ul{
        left: 0px;
        top: 0;
    }
}